.home-container {
  width: 100%;
  height: auto;
}

.home-base {
  width: 100%;
  background-color: white;
  border-radius: 45px;
  display: block;
  justify-content: center;
  height: 830px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}
