@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
.nav-container {
  width: 100%;
  height: auto;
}
.nav-base {
  height: 92.7%;
  width: 250px;
  position: fixed;
  border-radius: 45px 0 0 45px;
  z-index: 1;

  background-color: #baf7ff;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav-nav-logo {
  float: left;
  margin-left: 10px;
}
.nav-title {
  float: left;
}
.nav-title h1 {
  margin-left: 20px;
  float: left;
  background-image: linear-gradient(#00538a 60%, #a8dedd);
  background-clip: text;
  color: transparent;
}
.nav-links {
  float: left;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  margin-top: 50px;
  margin-left: -20px;
  display: block;
}
.nav-links a {
  text-decoration: none;
  margin-bottom: -10px;
}
.nav-links a:active {
  text-decoration: none;
  margin-bottom: -10px;
  color: #00d1ff;
}
.nav-links a:hover {
}
