.transaction-history-container {
  width: 50%;
  height: auto;
}
.transaction-history {
  background-color: aqua;
}
.transaction-delete-button {
  float: right;
  background-color: aquamarine;
  outline: 0;
}
.transaction-history li {
}
